@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;800&family=Rubik:wght@400;500;700&display=swap");

.big-card {
  height: 250px;
  width: 500px;
  border-radius: 30px;
  background: linear-gradient(
    142deg,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0.26) 0.01%,
    rgba(255, 255, 255, 0.15) 100%
  );
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  margin-top: 30px;
}

.big-card-left {
  width: 50%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.big-image-container {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #000;
  margin-left: 25px;
  margin-top: 12px;
  background-size: cover;
  background-image: url("../../../public/profile-photo.jpg");
  border: 1px solid gray;
}

.big-card-tags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
}

.big-term-tag {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  color: white;
  background-color: var(--scotiabank);
  margin-bottom: 10px;
  margin-left: 25px;
  padding-top: 8px;
  border-radius: 16px;
  width: 125px;
  height: 35px;
  text-align: center;
}

.big-connection-tag {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  color: white;
  background-color: var(--scotiabank);
  margin-bottom: 20px;
  padding-top: 8px;
  border-radius: 16px;
  margin-left: 25px;
  width: 125px;
  height: 35px;
  text-align: center;
}

.big-card-right {
  width: 50%;
  padding: 10px;
  padding-right: 15px;
  border-radius: 30px;
}

.big-right-title {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  text-align: right;
  font-size: 2em;
}

.big-right-company {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  text-align: right;
  font-size: 1.3em;
  margin-top: 15px;
  color: var(--scotiabank);
}

.big-right-program {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  text-align: right;
  font-size: 1.1em;
  margin-top: 3px;
  color: white;
}

.big-right-loc {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-align: right;
  font-size: 0.9em;
  margin-top: 45px;
  color: white;
}

.big-right-school {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-align: right;
  font-size: 0.9em;
  margin-top: 3px;
  color: white;
}
