@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;800&family=Rubik:wght@400;500;700&display=swap");

.grid-root-container {
  width: 75%;
  display: flex;
  justify-content: center;
  padding-left: 25%;
  margin-bottom: 60px;
}

.grid-container {
  width: 100vw;
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1170px) {
  .grid-container {
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 2fr 2fr;
  }
}

@media screen and (max-width: 805px) {
  .grid-container {
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
    grid-template-columns: 1fr;
  }
}
