@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;800&family=Rubik:wght@400;500;700&display=swap");

:root {
  --search-button-background: #ede5ff;
}

.home-main-header {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 20px;
}

.home-title {
  display: flex;
  flex-direction: column;
}

.home-title-text {
  font-size: 3.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  padding-right: 15px;
  letter-spacing: 0.1rem;
  text-align: center;
}

.home-title-com {
  align-self: flex-end;
  background: linear-gradient(83.1deg, #ff46c0 6.87%, #ffa877 105.82%);
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding: 3px;
  border-radius: 7px;
  color: black;
}
