@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;800&family=Rubik:wght@400;500;700&display=swap");

/* These are all of the font-family and font-weight options 
Inter: 300, 500, 800
font-family: 'Inter', sans-serif;
Rubik: 400, 500, 700
font-family: 'Rubik', sans-serif; */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  color: white;
  background-color: black;
}

.logo-text {
  background: linear-gradient(263.1deg, #ff46c0 6.87%, #ffa877 105.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.8rem;
}

.logo-text span {
  font-weight: 800;
  font-size: 2.9rem;
}

nav {
  display: flex;
  align-items: center;
  margin-left: auto; /* Add this property */
  z-index: 100;
}

nav a {
  margin: 0 2rem;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 95%;
  margin-right: 25px;
  margin-left: 10px;
  transition: color 0.3s ease-in-out; /* Update the transition property */
  font-weight: 500;
  letter-spacing: 0.3px;
}

nav a:hover {
  color: #ff46c0;
}

.underline {
  border-bottom: 1px solid #ff46c0; /* Set the desired underline color and thickness */
  padding-bottom: 3px; /* Adjust the value as needed */
  font-weight: 800;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
  display: none;
  color: white;
}

@media only screen and (max-width: 720px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: black;
    transition: 1s;
    transform: translateY(-100vh);
    border-radius: 0 0 4rem 4rem;
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }

  header .nav-btn {
    display: block;
    font-size: 2.4rem;
    margin-top: 9px;
  }
}
