@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;800&family=Rubik:wght@400;500;700&display=swap");

:root {
  --gray: #3e3e3e;
  --scotiabank: #980a0e;
  --tangerine: #fe793e;
  --mdfinancial: #0a085b;
}

h3 {
  color: white;
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 10px;
  text-align: center;
}

.login {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.form-side {
  background-color: black;
  width: 50%;
  max-width: 600px;
}

.image-side {
  /* Black and white gradient */
  background-image: url("../../../public/bw-gradient.png");

  /* Tangerine gradient */
  /* background-image: url("../../../public/tangerine-gradient.png"); */

  /* Scotiabank gradient  */
  /* background-image: url("../../../public/scotiabank-gradient.png"); */

  /* MD Financial gradient */
  /* background-image: url("../../../public/mdfinancial-gradient.png"); */

  background-size: cover;
  background-position: center;
  width: 50%;
  flex-grow: 1;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: black;
}

.icon {
  width: 65px;
  height: 65px;
  background-color: var(--gray);
  border-radius: 23px;
  margin-top: 30px;
  padding: 10px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title-text {
  font-size: 3.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  padding-right: 15px;
  letter-spacing: 0.1rem;
}

.title-com {
  align-self: flex-end;
  background: linear-gradient(83.1deg, #ff46c0 6.87%, #ffa877 105.82%);
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding: 3px;
  border-radius: 7px;
  color: black;
}

.slogan {
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 35px;
  letter-spacing: 0.1rem;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-dropdown {
  width: 75%;
  height: 60px;
  background-color: var(--gray);
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: left;
  padding-left: 10px;
}

.form-entry {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-bottom: 25px;
}

.label {
  color: #575758;
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 10px;
}

.input-content {
  background-color: #262629;
  border-radius: 10px;
  height: 30px;
  color: #575758;
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  padding-left: 10px;
}

.submit-button {
  width: 50%;
  height: 50px;
  background-color: var(--gray);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}

.bottom {
  margin-top: 10px;
}

@media only screen and (max-width: 680px) {
  .image-side {
    display: none;
  }

  .form-side {
    width: 100%;
    max-width: 100%;
  }
}
